{% extends 'base.html' %}

 {% block content %}

  <h1>Tugas 4 Assignment PBP/PBD</h1>

  <h5>Name: </h5>
  <p>Idham Vadri</p>

  <h5>Student ID: </h5>
  <p>2106752174</p>
  <button><a href="{% url 'todolist:create_task' %}">Create Task</a></button>
  {%for i in task%}

  <div class="card">
    <div class="card-header">
      {{i.user}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{i.title}}</h5>
      <p class="card-text">{{i.description}}</p>
      <p class="card-text">{{i.date}}</p>
    </div>
  </div>
  {%endfor%}
  <button> <a href="{% url 'todolist:login_user' %}">Logout</a></button> 
  <!-- <table>
    {%for i in task%}
    <tr>
      <th>{{i.user}}</th>
      <th>{{i.title}}</th>
      <th>{{i.date}}</th>
      <th>{{i.description}}</th>
    </tr>
    {%endfor%}
    {% comment %} Add the data below this line {% endcomment %}
  </table> -->

 {% endblock content %}
