{% extends 'base.html' %}

{% block content %}
<title>Login</title>

<div class = "login">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label" name="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="username" name="username">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label" name="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="password" name="password">
          </div>
          <input type="submit">
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>

</div>

{% endblock content %}